# CLI + config
pyyaml>=6.0
rich>=13.7.0

# File handling & progress
tqdm>=4.66.0

#Hashing / integrity
xxhash>=3.4.1

# Text processing
regex>=2024.4.28

#JSONL / data utils
orjson>=3.9.15

#Optional PKGS
#click>=8.1.7
#typer>=0.12.3
